@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-LightIt/ProximaNova-LightIt.eot');
	src: url('../fonts/ProximaNova-LightIt/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-LightIt/ProximaNova-LightIt.woff') format('woff'),
		url('../fonts/ProximaNova-LightIt/ProximaNova-LightIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-LightIt/ProximaNova-LightIt.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.eot');
	src: url('../fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.woff') format('woff'),
		url('../fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.eot');
	src: url('../fonts/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.woff') format('woff'),
		url('../fonts/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-SemiboldIt/ProximaNova-SemiboldIt.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.eot');
	src: url('../fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.woff') format('woff'),
		url('../fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot');
	src: url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff') format('woff'),
		url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf') format('truetype'),
		url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.svg#FontName') format('svg');
	font-style:normal;
	font-weight: 800;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-ExtrabldIt/ProximaNova-ExtrabldIt.eot');
	src: url('../fonts/ProximaNova-ExtrabldIt/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-ExtrabldIt/ProximaNova-ExtrabldIt.woff') format('woff'),
		url('../fonts/ProximaNova-ExtrabldIt/ProximaNova-ExtrabldIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-ExtrabldIt/ProximaNova-ExtrabldIt.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'),
		url('../fonts/ProximaNova-Black/ProximaNova-Black.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-BlackIt/ProximaNova-BlackIt.eot');
	src: url('../fonts/ProximaNova-BlackIt/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-BlackIt/ProximaNova-BlackIt.woff') format('woff'),
		url('../fonts/ProximaNova-BlackIt/ProximaNova-BlackIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-BlackIt/ProximaNova-BlackIt.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 900;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot');
	src: url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.woff') format('woff'),
		url('../fonts/RobotoCondensed-Light/RobotoCondensed-Light.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light/RobotoCondensed-Light.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.eot');
	src: url('../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.woff') format('woff'),
		url('../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.ttf') format('truetype'),
		url('../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot');
	src: url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff') format('woff'),
		url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf') format('truetype'),
		url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.eot');
	src: url('../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.woff') format('woff'),
		url('../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.ttf') format('truetype'),
		url('../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot');
	src: url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf') format('truetype'),
		url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.eot');
	src: url('../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.woff') format('woff'),
		url('../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.ttf') format('truetype'),
		url('../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 700;
}